* {
  box-sizing: border-box;
  color: white;
  font-family: Calibri;
}

body {
  margin: 0;
  padding: 0;
  background: #181818;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}